extends index
block content
  .topo
    nav.navbar.navbar-fixed-top
      .logo-central.visible-md.visible-lg
        img(src="img/logo-central.svg" alt="Logo prime 4")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.logo-type(href='#')
            img(src="img/logo-type.svg" alt="Logo prime 4")
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.nav-prime
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        // /.nav-collapse