.container.academia
  .row
    .col-md-12
      h1 Conhecendo a Prime 4!
      p Área com ventilação privilegiada de 500m2, equipada com uma linha completa de equipamentos Life fitness, permitindo desde a realização de exercícios voltados para reabilitação assim como treinamento esportivo. Conta também com um espaço exclusivo para alongamento e abdominais com aparelhos funcionais (bolas de medicinibal, elásticos, bolas funcionais, caneleiras, etc). Além disso, a Prime4 ainda oferece um dispositivo vibratório de elevada qualidade que dá origem a uma nova dimensão em soluções de boa forma para todas as idades, estilos de vida e capacidades físicas.
      br
      .boxMedia
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/cardio.jpg', data-holder-rendered='true', alt="Cardio Vascular")
          .media-body
            h4.media-heading Área Cardio Vascular
            |  Área equipada com aparelhos da life fitness (Esteiras, bicicletas, remo, transports etc) sempre supervisionados e orientados por um professor especializado. TVs com transmissão a cabo, que permitem a opção por um canal de TV porque o som pode ser sintonizado em seu próprio fone de ouvido, som ambiente e assinatura de revistas para o seu entretenimento.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/alongamento.jpg', data-holder-rendered='true', alt="Alongamento")
          .media-body
            h4.media-heading Alongamento
            |  Atividades que objetivam a melhora da qualidade de vida, por meio do aumento da capacidade de amplitude articular evitando ou tratando encurtamentos musculares, estes responsáveis por dores e limitações. Indicado para iniciantes, intermediários e avançados. Pela manhã a aula tem duração de 30 minutos e no período da noite a aula tem duração de 20 minutos.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/localizado.jpg', data-holder-rendered='true', alt="Localizada")
          .media-body
            h4.media-heading Ginástica localizada
            |  Atividades que visam à melhoria da força e da resistência muscular localizada nos principais grupamentos musculares. Os exercícios são sincronizados com a música, proporcionando o aprimoramento da sua coordenação motora e rítmo. Indicado para intermediários e avançados. A média de calorias gastas é de 350. A aula tem duração de 50 minutos.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/jump.jpg', data-holder-rendered='true', alt="Jump")
          .media-body
            h4.media-heading Jumping
            |  Aulas dinâmicas e coreografadas, realizadas sobre camas eásticas exercendo um importante papel no sistema circulatório, ajudando de forma eficiente na drenagem linfática. Também possui um alto consumo calórico. Indicado para inciantes, intermediários e avançados. A média de calorias gastas é de 450 podendo chegar a 700 calorias, dependendo da intensidade. A aula tem duração de 45minutos.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/plataforma.jpg', data-holder-rendered='true', alt="Plataforma Vibratória")
          .media-body
            h4.media-heading Plataforma Vibratória
            |  Plataforma vibratória que utiliza os princípios de Acceleration Training-TM para estimular a resposta natural do corpo à vibração, otimizando o trabalho do sistema circulatório e linfático (drenagem linfática). Seus benefícios vão desde a melhoria imediata da circulação sanguínea até o aumento da força, resistência, flexibilidade muscular, amplitude articular e da densidade óssea.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/abdominal.jpg', data-holder-rendered='true', alt="Abdominal")
          .media-body
            h4.media-heading Abdominal
            |  Aulas que visam enrijecer a musculatura da região do abdômen, onde a extensão dos movimentos é fundamental na conquista de um abdômen forte e definido, para isto associamos músicas estimulantes. A aula tem duração de 30 minutos.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/tatame.jpg', data-holder-rendered='true', alt="No Tatame")
          .media-body
            h4.media-heading No Tatame
            |  Tatame com 50 m2, com lonas importadas com alto poder de amortecimento para aulas de judô, luta livre e kickboxing.
        .media
          .media-left
            img.media-object.img-circle(src='img/modalidades/arlivre.jpg', data-holder-rendered='true', alt="Ao Ar Livre")
          .media-body
            h4.media-heading Ao Ar Livre
            |  Atividades realizadas as margens do Lago Paranoá, no Parque Vivencial. Proporciona ao aluno, além de um maior contato com a natureza, mais energia, bem estar e disposição para o corpo.
      h2 PRIME 4 NA CORRIDA PELA SUA SATISFAÇÃO COM A VIDA.     
      p A satisfaçao não é um fenômeno de fácil mensuração por se tratar de um estado individual e subjetivo. Sabemos que fatores como saúde, paz de espírito, um bom emprego, as condições sociais em que vivemos e as pessoas com quem nos relacionamos fazem parte do que chamamos de satisfação com a vida.