.container.content
  .row.sub-topo
    .col-md-4
      .btns-prime4
        a.btn.btn-prime4.btn-lg.btn-block(href="horarios.html")
          img(src="../img/icon-timer.svg" alt="icon") 
          |  &nbsp; HORÁRIOS DA ACADEMIA
        a.btn.btn-prime4.btn-lg.btn-block(href="fotos.html")
          img(src="../img/icon-camera.svg" alt="icon") 
          |  &nbsp; FOTOS DA ACADEMIA
        a.btn.btn-prime4.btn-lg.btn-block(href="contatos.html")
          img(src="../img/icon-localizacao.svg" alt="icon") 
          |  &nbsp; LOCALIZAÇÃO
        a.btn.btn-prime4.btn-lg.btn-block(href="servicos.html")
          img(src="../img/icon-engrenagem.svg" alt="icon") 
          |  &nbsp; SERVIÇOS ESPECIAIS

    .col-md-8
      #prime4.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#prime4', data-slide-to='0')
          li(data-target='#prime4', data-slide-to='1')
          li(data-target='#prime4', data-slide-to='2')
          li(data-target='#prime4', data-slide-to='3')
          li(data-target='#prime4', data-slide-to='4')
          li(data-target='#prime4', data-slide-to='5')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          mixin item(active, img)
            .item(class=active)
              img(src=img)
              .carousel-caption
                | Espaço PRIME 4 Lago Norte
          +item('active','../img/carousel/1.jpg')
          +item('','../img/carousel/2.jpg')
          +item('','../img/carousel/3.jpg')
          +item('','../img/carousel/4.jpg')
          +item('','../img/carousel/5.jpg')
        // Controls
        a.left.carousel-control(href='#prime4', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#prime4', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
          
.container.content          
  .row.servicos
    .col-md-12
      h2 SERVIÇOS ESPECIAIS

    .col-lg-4.col-md-4.col-xs-6.thumb
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='SERVIÇOS ESPECIAIS | Ventilometria', data-caption='Para aumentar a segurança e fidedignidade da prescrição de exercícios, a Prime 4 utiliza o ventilômetro que é um aparelho bocal comum a válvula bidrecional integrado a uma esteira que por meio de um sistema informatizado analisa, a expiração do aluno para traçar a estratégia de exercícios (melhor ritmo, intensidade, estimativa de tempo e outros).', data-image='img/imagens/ventilometria.jpg', data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/ventilometria.jpg" alt="Ventilometria")
          p.title-thumb VENTILOMETRIA
    .col-md-4.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='SERVIÇOS ESPECIAIS | Personal Trainer', data-caption='Entre as vantagens de ser um treinamento físico particular supervisionado e acompanhado diretamente por um professor de Educação Física, dá ao aluno um total acompanhamento de suas atividades, desde o alongamento, passando pelos exercícios com pesos, elásticos ou peso corporal. O diferencial da Prime4 está aí, oferecer todo este trabalho com ênfase nos resultados, porém com mais prazer.', data-image='img/imagens/personal.jpg', data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/personal.jpg" alt="Personal Trainer")
          p.title-thumb PERSONAL TRAINER
    .col-md-4.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='SERVIÇOS ESPECIAIS | Nutrição', data-caption='A boa nutrição depende de uma dieta regular e equilibrada. É preciso fornecer às células do corpo não só a quantidade, mas também a variedade adequada de nutrientes importantes para seu bom funcionamento. Para isso, a Prime4 conta com serviço de nutrição personalizado ao treinamento e necessidade de seus alunos.', data-image='img/imagens/nutricao.jpg', data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/nutricao.jpg" alt="Nutrição")
          p.title-thumb NUTRIÇÃO

  .row.atividades
    .col-md-12
      h2 ATIVIDADES
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | Circuito Funcional', data-caption='O Circuito Funcional é trabalha força e condicionamento físico, mas também proporciona maior equilíbrio físico e qualidade de vida. Esse circuito pode ser feito por pessoas de diversas idades, inclusive idosos com problemas cardíacos, o que muda de uma pessoa para outra é a carga e intensidade. O resultado final é uma melhora do condicionamento físico e da saúde, e mais qualidade de vida.', data-image='img/imagens/circuito.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/circuito.jpg" alt="CIRCUITO FUNCIONAL")
          p.title-thumb CIRCUITO FUNCIONAL
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | LUTA LIVRE', data-caption='As aulas de luta livre esportiva ou luta lvire submission são excelentes para quem deseja uma modalidade que une a esportividade com defesa pessoal e gasto calorico. São ensinadas técnicas de projeções (quedas) chaves estrangulamentos torções meios de saída e defesa.Tudo isso sem o uso de quimono, aumentando sua eficiência como auto defesa. A média de calorias gastas é de 800/aula, com duração de 1h15', data-image='img/imagens/lutalivre.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/lutalivre.jpg" alt="LUTA LIVRE")
          p.title-thumb LUTA LIVRE
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | BOXE', data-caption='Essa modalidade de luta exige muita energia e disposição. O Boxe é praticado com os punhos, não faz uso das pernas para golpear, apenas para auxiliar na movimentação. Basicamente a luta é composta por reação, esquiva, defesa e ataque. É uma excelente alternativa para o aluno que deseja aprender a se defender, descarregar energias e o estresse acumulado do dia a dia.', data-image='img/imagens/boxe.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/boxe.jpg" alt="BOXE")
          p.title-thumb BOXE
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | KICKBOXING', data-caption='Assim como o Boxe, essa modalidade utiliza os punhos para defender e reagir na hora do combate, mas o seu diferencial está nos golpes de pernas. No Kickboxing o aluno dá chutes baixos e altos para se defender, além de utilizar também o joelho para se defender. As regras derivam da combinação de diversas técnicas de combate de uma variedade de outras disciplinas incluindo o Boxe, Kung Fu e Taekwondo.', data-image='img/imagens/kickboxing.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/kickboxing.jpg" alt="KICKBOXING")
          p.title-thumb KICKBOXING
  .row.atividades     
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | Judô infantil', data-caption='Aulas motivadas pelo desenvolvimento de princípios morais e éticos, criando um ambeiente que estimula o companheirismo desde cedo, com o objetivo de melhorar a concentração e auto-estima das crianças com disciplina e total segurança. Aula com duração de 50 minutos.', data-image='img/imagens/judoinfantil.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/judoinfantil.jpg" alt="Judô infantil")
          p.title-thumb Judô infantil
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | CAPOEIRA', data-caption='Aulas de capoeira com professores graduados onde a orientação é o desenvolvimento da arte.', data-image='img/imagens/capoeira.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/capoeira.jpg" alt="CAPOEIRA")
          p.title-thumb CAPOEIRA
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | Jumping', data-caption='Aulas dinâmicas e coreografadas, realizadas sobre camas eásticas exercendo um importante papel no sistema circulatório, ajudando de forma eficiente na drenagem linfática. Também possui um alto consumo calórico. Indicado para inciantes, intermediários e avançados. A média de calorias gastas é de 450 podendo chegar a 700 calorias, dependendo da intensidade. A aula tem duração de 45minutos.', data-image='img/imagens/jumper.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/jumper.jpg" alt="Jumping")
          p.title-thumb Jumping
    .col-md-3.col-sm-6.col-xs-6
      .box
        a.thumbnail(href='#', data-image-id='', data-toggle='modal', data-title='ATIVIDADES | AO AR LIVRE', data-caption='Atividades realizadas as margens do Lago Paranoá, no Parque Vivencial. Proporciona ao aluno, além de um maior contato com a natureza, mais energia, bem estar e disposição para o corpo.', data-image='img/imagens/ao-ar-livre.jpg',data-target='#image-gallery')
          img.img-responsive.thumbnail(src="img/imagens/ao-ar-livre.jpg" alt="AO AR LIVRE")
          p.title-thumb AO AR LIVRE
  .row.testemunhal
    .col-md-12
      h2 ACREDITAMOS QUE!
    .col-md-12
      p.text-center
        i Acreditamos que a procura pelo bem estar começa na valorização das relações humanas. Dar atenção traz satisfação. E o nosso compromisso é com a sua satisfação, pois ela que nos motiva a aperfeiçoar cada vez mais o nosso trabalho. Somos muito mais que uma academia, somos um ponto de encontro para pessoas que procuram equilibrio em meio a correria do cotidiano.
    img.img-responsive(src="img/imagens/senhor-rodape.png" alt="Senhor Atlético")
include galeria-modal