.container.content
  .row.sub-topo
    .col-md-4
      .btns-prime4
        a.btn.btn-prime4.btn-lg.btn-block(href="#")
          img(src="../img/icon-timer.svg" alt="icon") 
          |  &nbsp; HORÁRIOS DA ACADEMIA
        a.btn.btn-prime4.btn-lg.btn-block(href="#")
          img(src="../img/icon-camera.svg" alt="icon") 
          |  &nbsp; FOTOS DA ACADEMIA
        a.btn.btn-prime4.btn-lg.btn-block(href="#")
          img(src="../img/icon-localizacao.svg" alt="icon") 
          |  &nbsp; LOCALIZAÇÃO
        a.btn.btn-prime4.btn-lg.btn-block(href="#")
          img(src="../img/icon-engrenagem.svg" alt="icon") 
          |  &nbsp; SERVIÇOS ESPECIAIS

    .col-md-8
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='../img/fotos/1.jpg', alt='...')
            .carousel-caption
              | Espaço PRIME 4 Lago Norte
          .item
            img(src='../img/fotos/2.jpg', alt='...')
            .carousel-caption
              | Espaço PRIME 4 Lago Norte
          .item
            img(src='../img/fotos/1.jpg', alt='...')
            .carousel-caption
              | Espaço PRIME 4 Lago Norte
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
          
.container.content          
  .row.servicos
    .col-md-12
      h2 SERVIÇOS ESPECIAIS
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/ventilometria.jpg" alt="Ventilometria")
          p VENTILOMETRIA
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/personal.jpg" alt="Personal Trainer")
          p PERSONAL TRAINER
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/nutricao.jpg" alt="Nutrição")
          p NUTRIÇÃO
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/superprime.jpg" alt="Super Prime +50")
          p SUPER PRIME +50

  .row.atividades
    .col-md-12
      h2 ATIVIDADES
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/circuito.jpg" alt="CIRCUITO FUNCIONAL")
          p CIRCUITO FUNCIONAL
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/lutalivre.jpg" alt="LUTA LIVRE")
          p LUTA LIVRE
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/boxe.jpg" alt="BOXE")
          p BOXE
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/kickboxing.jpg" alt="KICKBOXING")
          p KICKBOXING

  .row.atividades     
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/judoinfantil.jpg" alt="JUDO INFÂNTIL")
          p JUDO INFÂNTIL
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/capoeira.jpg" alt="CAPOEIRA")
          p CAPOEIRA
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/jumper.jpg" alt="JUMP")
          p JUMP
    .col-md-3.col-sm-6.col-xs-6
      .box
        a(href="#")
          img.img-responsive(src="img/imagens/ao-ar-livre.jpg" alt="AO AR LIVRE")
          p AO AR LIVRE
  .row.testemunhal
    .col-md-12
      h2 ACREDITAMOS QUE!
    .col-md-12
      p.text-center
        i Acreditamos que a procura pelo bem estar começa na valorização das relações humanas. Dar atenção traz satisfação. E o nosso compromisso é com a sua satisfação, pois ela que nos motiva a aperfeiçoar cada vez mais o nosso trabalho. Somos muito mais que uma academia, somos um ponto de encontro para pessoas que procuram equilibrio em meio a correria do cotidiano.
    img.img-responsive(src="img/imagens/senhor-rodape.png" alt="Senhor Atlético")