.container.equipe-filosofia
  .row
    .col-md-12
      h1 Equipe e Filosofia

      .boxMedia
        h2 Diretoria
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/igor.jpg', data-holder-rendered='true', alt="Igor Vieira Genaro")
          .media-body
            h4.media-heading Igor Vieira Genaro
              br
              small Sócio Diretor de Logistica
            |  Graduado em Educação Física pela Universidade Católica de Brasília. Pós graduado em Treinamento Desportivo pela Universidade Gama Filho. 12(doze) anos de experiência como professor em musculação e personal trainer CREF 5001/G/DF
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/marcos.jpg', data-holder-rendered='true', alt="")
          .media-body
            h4.media-heading Marcos Ferreira de Andrade
              br
              small Sócio Diretor Administrativo
            |  Mestre em Educação Física e Saúde pela Universiade Católica de Brasília Docente no curso Superior de Educação Física da UNIEURO-DF Pós graduando em Nutrição Desportiva pela Universidade Gama Filho - RJ P[os graduado em Avaliação Morfofuncional pela Universidade Gama Filho - RJ Pós graduado em Fisiologia do Exercício pela Universidade Gama Filho - RJ 19 (dezenove) anos de experiência CREF 0732-G/DF
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/renato.jpg', data-holder-rendered='true', alt="Renato Ferreira de Andrade")
          .media-body
            h4.media-heading Renato Ferreira de Andrade
              br
              small Sócio Diretor Financeiro
            |  Mestre em Avaliação das Atividades Físicas e Desportivas pela Universidade de Trás os Montes e Alto Douro em Lisboa-Portugal Pós Graduado em Avaliação Morfofuncional pela Universidade Gama Filho-RJ Graduado em Educação Fsísica pela Universidade Católica de Brasília 15(quinze) anos de experiência como professor em musculação, ginástica e personal trainer CREF 3383-G/DF
        br
        h2 Professores
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/adson.jpg', data-holder-rendered='true', alt="Adson Rocha da Silva")
          .media-body
            h4.media-heading Adson Rocha da Silva
            |  Graduado em Educação Fisica pela Instituição Albert Einstein (FALBE). 9 (nove) anos de experiência como professor em musculação e ginástica CREF 4307-G/DF
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/mauricio.jpg', data-holder-rendered='true', alt="Maurício Salamoni")
          .media-body
            h4.media-heading Maurício Salamoni
            |  Graduado em Educação Física pela Faculdade Alvorada. Pós Graduando em Fisiologia e Cinesiologia da Atividade Física e Saúde pela Universidade Gama Filho - RJ. 06 (seis) anos de experiência em musculação ciclismo indoor, alongamento e flexibilidade CREF 7799 G/DF
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/flavio.jpg', data-holder-rendered='true', alt="Flávio Barbosa de Andrade")
          .media-body
            h4.media-heading Flávio Barbosa de Andrade
            |  Graduado em Educação Física pela Faculdade Albert Einstein. Pós Graduado em Personal Trainer, Atividade Física para Alunos Especiais e Ginástica Laboral. Professor de capoeira formado. 10 (dez) anos de experiência como Personal Trainer CREF 005736-G/DF
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/chicao.jpg', data-holder-rendered='true', alt="Francisco Joaci")
          .media-body
            h4.media-heading Francisco Joaci
            |  Graduado em Educação Física pela Universidade Unieuro – DF, 6 (seis) anos de experiência com musculação, ginásticas, luta e Personal Trainer. CREF. 7973 G/DF

        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/leo.jpg', data-holder-rendered='true', alt="Leonardo Pinheiro")
          .media-body
            h4.media-heading Leonardo Pinheiro
            |  Graduando em Educação Física pela Faculdade Alvorada. 2 (dois) anos de experiência na área de musculação e avaliação física. 8 (oito) anos de experiência atuando como professor de Kickboxing. Atleta profissional de Kickboxing e MMA, com diversos títulos nacionais e internacionais.
        .media
          .media-left
            img.media-object.img-circle(src='img/equipe/rafa.jpg', data-holder-rendered='true', alt='Rafael Faria')
          .media-body
            h4.media-heading Rafael Faria
            |  Graduando em Educação Física pelo Centro Universitário de Brasília - UNICEUB. 1 (um) ano de experiência na área de musculação, avaliação física e ciclismo indoor.
