svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='16px', height='16px', viewbox='-0.5 0 33 32', enable-background='new -0.5 0 33 32', xml:space='preserve')
  defs
  path.facebook(fill='#2EA5D9', d='M12.174,31.979V17.512H7.417v-5.874h4.757V5.375c0,0,0.244-5.292,5.292-5.292c5.048,0,6.65,0,6.65,0v5.923\
  h-4.37c0,0-1.383-0.048-1.383,1.384c0,1.431,0,4.248,0,4.248h5.316v5.922h-5.146v14.418H12.174z')
  rect#_x3C_Slice_x3E__10_(fill='none', width='32', height='32')
