footer.footer
  .container
    .row
      .col-md-4
        h3 MAPA DO SITE
        ul.list-unstyled
          include links-menu
      .col-md-4
        .logo-3d.text-center
          img.img-responsive(src="img/imagens/logo-rodape-3d.png" alt="logo prime4 em 3D")
      .col-md-4
        h3  CONTATOS
        p SHIN QL 02/04 - BLOCO C - CEP 71510-176 Lago Norte, Brasília DF
        p +55(61) 3468 3168

.rodape
  .container
    .row
      .col-md-9.text-right
        p copyright © 2016 
          a(href="http://www.prime4academia.com.br") http://www.prime4academia.com.br 
          | todos os direitos reservados
      .col-md-3.text-right
        p Designed by 
          a(href="http://www.carlosvz.com" target="_blank") carlosvz