.container.academia
  .row
    .col-md-12
      h1 Horários da Academia
      .table-responsive
        table.table.table-striped.table-hover
          caption: strong Ciclismo Indoor, Abdominal, Alongamento, Step, Local
          thead
            tr.info
              th Horário
              th Seg
              th Ter
              th Qua
              th Qui
              th Sex
              th Sáb
          tbody
            tr
              th(scope='row') 06h45min
              td Cycling indoor
              td -
              td Cycling indoor
              td -
              td Cycling indoor
              td -
            tr
              th(scope='row') 07h30min
              td Abdominal
              td -
              td Abdominal
              td -
              td Abdominal
              td -
            tr
              th(scope='row') 08h00min
              td Local
              td Cycling Indoor
              td Local
              td Cycling Indoor
              td Local
              td -
            tr
              th(scope='row') 09h00min
              td Cycling Indoor
              td -
              td Cycling Indoor
              td -
              td Cycling Indoor
              td -
            tr
              th(scope='row') 09h50min
              td Abdominal
              td -
              td Abdominal
              td -
              td Abdominal
              td -
            tr
              th(scope='row') 18h30min
              td Cycling Indoor
              td -
              td Cycling Indoor
              td -
              td Cycling Indoor
              td -
            tr
              th(scope='row') 19h00min
              td Funcional / Abdominal
              td Step
              td Funcional / Abdominal
              td Step
              td Funcional 
              td -
            tr
              th(scope='row') 19h20min
              td Local
              td -
              td Local
              td -
              td -
              td -
            tr
              th(scope='row') 19h30min
              td -
              td Cycling Indoor
              td -
              td Cycling Indoor
              td -
              td -
        table.table.table-striped.table-hover
          caption: strong Luta Livre Esportiva, KickBoxing, Judô infântil
          thead
            tr.info
              th Horário
              th Seg
              th Ter
              th Qua
              th Qui
              th Sex
              th Sáb
          tbody
            tr
              th(scope='row') 07h00min
              td -
              td Kickboxing
              td -
              td Kickboxing
              td -
              td -
            tr
              th(scope='row') 09h00min
              td -
              td -
              td -
              td -
              td -
              td Luta Livre (Mestre Renato Ferreira)
            tr
              th(scope='row') 19h00min
              td -
              td Kickboxing
              td -
              td Kickboxing
              td -
              td -
            tr
              th(scope='row') 20h15min
              td Luta Livre (Mestre Renato Ferreira)
              td Luta Livre (Professor Julinho)
              td Luta Livre (Mestre Renato Ferreira)
              td Luta Livre (Professor Julinho)
              td -
              td -
            tr
              th(scope='row') 20h30min
              td Capoeira
              td -
              td Capoeira
              td -
              td -
              td -