.container.academia
  .row
    .col-md-12
      h1 Horários da Academia
      .table-responsive
        table.table.table-striped.table-hover
          caption: strong Ciclismo Indoor, Abdominal, Alongamento, ABS, Jump/Step, Local
          thead
            tr
              th Horário
              th Seg
              th Ter
              th Qua
              th Qui
              th Sex
              th Sáb
          tbody
            tr
              th(scope='row') 06h45min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 07h30min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 08h45min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 09h00min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
        table.table.table-striped.table-hover
          caption: strong Luta Livre Esportiva, KickBoxing, Judô infântil
          thead
            tr
              th Horário
              th Seg
              th Ter
              th Qua
              th Qui
              th Sex
              th Sáb
          tbody
            tr
              th(scope='row') 06h45min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 07h30min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 08h45min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 09h00min
              td Mark
              td Otto
              td @mdo
              td Mark
              td Otto
              td @mdo