ul.nav.navbar-nav.nav-prime
  li.active
    a(href='#') Home
  li
    a(href='#about') Academia
  li
    a(href='#contact') PRIME 4 FIT
  li
    a(href='#about') Equipe e Filosofia
  li
    a(href='#contact') Contatos
// /.nav-collapse