li.active
  a(href='projeto.html') Home
li
  a(href='academia.html') Academia
li
  a(href='#contact') PRIME 4 FIT
li
  a(href='#about') Equipe e Filosofia
li
  a(href='#contact') Contatos
// /.nav-collapse