svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='118px', height='95px', viewbox='8 32 118 95', enable-background='new 8 32 118 95', xml:space='preserve')
  defs
  rect(x='8', y='32.151', fill='none', width='118.006', height='94.849')
  rect(x='8', y='32.016', fill='#D7DECC', width='118.016', height='95.058')
  a(href="#"): path(fill='#4B675B', d='M126.006,126.916c0,0-13.025-24.076-40.064-45.596c1.146-1.423,2.209-2.833,3.174-4.219\
  c15.347-22.081,23.156-34.736,27.734-44.969c0,0-22.623,15.119-45.311,38.948c-10.031-6.33-21.482-11.967-34.393-16.059\
  c0,0,6.946,15.443,21.458,30.728C48.57,98.103,39.435,112.03,33.375,126.916c0,0,20.309-13.946,37.597-29.933\
  c3.364,2.606,6.985,5.078,10.872,7.314C112.271,121.8,126.006,126.916,126.006,126.916z')
  a(href="#"): ellipse(transform='matrix(0.8936 0.4489 -0.4489 0.8936 31.2439 -26.8275)', fill='#4B675B', cx='72.206', cy='52.486', rx='5.299', ry='7.135')
  line(fill='none', stroke='#4B675B', stroke-miterlimit='10', x1='8.667', y1='32.167', x2='37.333', y2='55.104')
  path(fill='#BCC3AC', d='M126.006,126.916V32.151l-9.299,0.016c0,0-10.75,23.375-30.75,49\
  C85.958,81.167,105.457,94.667,126.006,126.916z')
  g
    image(overflow='visible', width='158', height='160', xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJ4AAACgCAYAAAD99dWmAAAACXBIWXMAAAsSAAALEgHS3X78AAAA\
    GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAEWxJREFUeNrsXdtyG8cRHQBLggQg\
    khApi7bs2MoH5DNSlS9OVT4j7ynHlmxdKPEOgrhusE4f7tnm7GJpEtIM0KdqDIvgBdg9OH2Z6W7n\
    DAaDwWAwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGAwGg8FgMBgM\
    BoPBYDAYDAaDoYCGXYK48K9//7NRct/S7D9//9s/UiOeYRWEy1ZT3buMbHN5TGMgnxEvHtI1ZbVk\
    NRXpsjWTFTz5ErutUahcU+5VtrbksSXflhFuulgTj/qZ4hkepXIZ2bYXqy1rW8iXCulGi3Urj2P5\
    2jxk1TPFC5t0ULiMbLuL1V2sjvy7JcqWkW0gJJwJ6YIXFCNe2KY1U7YdIdwzWT35WkPM67UQcCwk\
    jMKKGfHCI12LTGtHiLa3WAeyevJcRrYbUbpb+bloXCcjXlimFaTbEdKBcM9l7cvXm6JuTswsR7hG\
    PEMt0jWVPwdfLiNZf7GOFutQiPdM1C7z467EzDrx7ea0UiOeoY5pTZRphcq9kHUkRNwhlbsWwo1l\
    TYiAlscz1PLn2hRA9EXhvlmsl0K6vjzfEH9uIKqX/f9Qp1FM8QzL/LltIt2+qNyREO6lkO+5qGAi\
    5LqVx4GsGyHfWBQvCj/PiBeGPwfTCpU7lv8/VH7dyOV5uytZAyHjnamNYa/WiBeGPwfTekykO5Ko\
    ti3mcyKky3y7C1mXongjMrMW1Rpq+XNHFaRDMAE/LlO488U6k8dreS4qtTPihePPHSvzuidmuEHm\
    FaQ7FeJdkpmNSu2MeOH4c8eSNmHSNUXJxkS6z7LO5GtRqp0R78uQDhv8z0r8OZAOCeJdUUgcdRqI\
    PwfSnZLaRefbGfFWTzr4c9j66ntM60shXZ9Il7j8lMmNkO6UiHcuahddJBsF8cQ/KiD0i+shHftz\
    MK3fqiBCkw4nTW5F2TKz+olM7L1INjbSBUk8VVvg6DFdPPfHowussMWTLtkh0h0S4TTp9oV0O0LW\
    VFTslvy6T0rtrpXaRUc6vqmhRYF8+hY3FYTjjfCvTkJPuoRJd0Sk+04eXwoZs+dxtg4CAJ8uU7Z3\
    i/XrYv13sX5erLeL9V6eG4gqTmNUu6AUTx31Rn0BClvwAeGCFqy5qOEXr7AqSZf0lNJ9R4tJ15Xv\
    35JfNxPiDcnEfhbFOxVfL+qAIlRTC+VI6CZuy2oS8RDtYU2ZhCDgqlVwSbrksETpjhTpEnnPTLor\
    Rbq1CSiCM7VKOdpkrjpyQ0E+3jpCccvIQ8I5meUnJ2CNdAkiV/h131SQbq5M7IfFekMm9o2Y3VPx\
    70ZiYk3xnhBstjrkfHfIJMH5vnH5yYyhIuGUzFGmgk9GwCXpkheUo/uW0iWHHtI1yXXAxv+lEOwT\
    mdi1CShCN7V8U3tyQw9cnlidEfGuaYGIXOZXUMHHErBGuoSTwt9Qjm7P5dVhIF1KascmNiPciTzy\
    DsV4HUxsiMRLPb4ek29f/t2Qm4CbpRfOqQ2JhI8moId0Oog4Fn+O0yUHlKPTpOPUybXLt8ROZHH6\
    ZC0CiiDTKYsb2yInHamIzFy9khuKExvId/G5tEvPYiXUxc5co7CUgBWkO1KRqy9dsuvy6n8OkiYu\
    35nI1O03Sp/8Kv8+kefv9mTXQe1CVDz4PFNSqbl8QHDDcRp3VkK+c5efV7tweVHMoIyAVQq4hHRQ\
    uVcl6ZId8VdbpOR4j+MSE3vi8v3YGxdJZ4B1IR6Kk4fKv2mJgnSUvzcUcl0S4XBmDUS8fAgBVXH1\
    MtK98qRLsBvRdPcb7NQ1sQgooqijiDmqRS8QqAGqqa7o05+SSUZkiPQK1O9CHP4zWg8hYOqKFf1l\
    pPue/DpNukQpXUp5yJG8H0SxJyqgYLWbrZvaBeXjUT4PCeSemK3spv5lsX6S9Uqcd5T7gXxjuqHX\
    RECc2D1dQsBbMu+4yS0VvdYlnU/p9D5spmzvxZ/7RXy73ySPh22xkfh1c7dmCPF0CqsCcltnElgg\
    r4fcHt/kHbmxHZcfLcfPHEhkvIyAbNbxIUCejgMJH+l6Lt8CY9KBeDMzsYEqnkf1ukKY7Ib/IIr3\
    WhTwWMxpV763QaZ6Qj7ijfL/fAp4TgTETXekvH0i3atHkG4or+Fk06LYGBSvTPVOScVY8dArbsvd\
    b3rTpmCk51HAUyIhFHBAvmRb/hab2IeQjok3Jr9u46LY4IknEeVcmaYrIVCPTC33ioMjj1xZyxVL\
    CasIeEaPvBkP4u0R8Y5V9FpGuoaK0s3ExqB4RD4dAZ4R+Xoe1UMUyqmQZQQECfuKeHP5mT2X9zFB\
    ZX8d0nEUO970KDYWU1vlkHcpkcynVxIigD5MWkVABCIgH7ao5kKqLplm7Lt2l5DOTGysxFMmF3m9\
    S0UYEI/NbZP8PUd+X7OGAu67/KRL6vJj7KyyuxWkYx/VTGykiqcDDSSIL4gsHUWExN0/Ms+k8BEQ\
    gQh8SN6QxxGtHVpaXfn3p55E8cBMbGTE8wQaUL22IkPbQz6QwadIZQq44/IdjJRyeVv0u/XvZ9Jp\
    E7uxe7HL0Az9BcrN0IHGBZmtLNP/UW5smelKVe6SC3S4XqJDZnWPomftR+pKuGUmFqT7uOkmNiZT\
    6ws0rlSuDqq37YoDSNjEatVjRUxVNJqq7+Eo2XkIV2ZiL8jEfjQTG5HikeqlnkDjjFTvA5mxC23G\
    PMrHBGx68n9c5dby+I2uRO18rw9+nfe1bRrpoiGex+SOlcnN1OS9rJMSVUmVL+YjoE7BNGsQjtWO\
    TSxe2ycVxQ422cRGRzxFvglFufChPnjIBz/qzqSt0BUoM7NotBN1P7tN9fHK/L2hJy2yTb7eVoWp\
    bKyQePpgAreMZfO/sWjG9oKVv4e6hStRFTa5iCB9FfjpE5o4NrUzcgV8tb+FruybqnZREq/E39NJ\
    Wg42dIngdMV+FfuSjYrl7YhlxIsvvzdQwcaHL6h6HJxw855dl++y7Lpi8U/TbfDY1mbML16OhM9U\
    sAGn/pOrbniTPjHhuD4jIxpaWmAOGWpsCyenpYrNiBdpsKEjXZQ58hk7bP7PVpDG4Go0HCrIiIaO\
    7hiW4usUtZHki/4Nk8llxx4lj1gcTa6i94g2sTgun53hQ8eoypPLm0a+deuBzI0bfWsV4PQMTO2f\
    8R8nWcfTdawoW2fiaT9ri5bev12VU9+ka7qjSOlq/s2NIV/0xCtpBcunTHquWO/KRdZPSfzUlR8i\
    eEjieiPIl6wB6aByfJhzn6JJfVw9WZHqafJtPeJ3rT35Yle8smjyUJx4DC7ZLyHelyJfw8i3JsQj\
    teOGOjw55yURD2OaOHlbFpwsCyJM+TaVeB4T23XFMkTkzdAcsbfEx+NtrnQJ6RpGvg0kngom4Nc9\
    U6TjUU1a7cpODyMV4zuFzOWSdQlo5FszxdMRLLamjpSJxS5Bx/nrJVjleH6G3lLjgqCmh7wNI9+a\
    E0+ZWG4fdugxsb62YboiDIllNPoZu/vn5fisn84Hcr2GkW8dieeZogMT21cmtsyv0wEFSAfCobMU\
    9nSnQhp90qRNClrX/zPyRax4VRvxL0jpMPe1U+HXMelwpAp1EjgtPHF572W0uUAyukMKqHdDjHzr\
    QjxPFIvhK8/Jtzui1EnX49cx6eDL8WkW1Efg4OhIfo79SCw0gOTzda0awcdjycd+6TRrmWtD9L6O\
    iQXpfNNzttz9Bom6PlcfHkXt64UQzwm5kKpBsc6tfA3mvK3Ur4qADyFf6om8OeL+o9OCzatdHXQT\
    7AMKKEC6qnyd7iivSYcKtWxmGLpy3iriXbi8Ze0NEdDXLq21JPp9qPLpkam8UjG7NqH7C6rdC3d/\
    yrX261JKlSCIuFakeyfrvUfx0I72inzBAa19Uj8dfFT5f3XIl3rSPYVxqfT+jHgrzNlB7eDbwa/z\
    7cVyjg51GWiig1rcj6R07+TfqMcdESEwIWjgiiMQrlx+EAGNwbuKgFX+Xxn5Uo97oAfP8IQiF1uw\
    kUSgdlzHsEdqx6TrqXwdK52vq+iJK5ZCohzy1OUzNdCAu+XyMkVu5s0jDS5dXlfBBKzj/1Upn2/a\
    UdmI1DSmYCMJnHS+HQqcPDksMbGadJj0yA10NOF8bS+m5F8i14da2SFFwxf0eKgIWOb/+QhYpnxc\
    0MRJbq7TZfJFEWyEbGr1DsUemViQbk/l61xF5HqqTOt78e94AvaQbuqcSMG+1cTdH+TCBLyU1zdw\
    eWVZt8T/8+UY9UlmrXiaeHooYBTBRhKB2nFAcUiLo9iEVIMj12t3v7HP767YaQCNdIZKRVKaaeZr\
    pj1y98degYQ8xpTVr7skANHNJJ0in1a9cYnZDT7YSAJXO4yI31dqx3Ng4dfhgo8ocvUFEWXtLby9\
    6tAyQ+abVVW0Ifi4It/vgoKPA3e/2aMvAOHAoynP89/0KR+TLwp/rxGo2kHpDiRBnI1w+mmx/rpY\
    P7r/lwoeyk3clp+B0uHmnynScScpXeR9N3K96mZRy4mmUuU2fUjQQR6d4p+74jH8hwYgvLV3TS4D\
    JgNl6628t88uH5cwcQF3o0oiULs9MrN9lTppuXw4Hbep5YaN78mf43Hr3FlgKelI/Zz0ZeY1IxXi\
    sfU8xuqcgo+6AQhPK0/l+3RjIF4TZXKnoQYbSYBqx53WOW/3XJnYRJFusCRyLQ0iHpr/UgQs6xQ1\
    dMUhzjy8+SEBCLfTxT711BNpj5TZnbvV9IhZS8XzRbIHykfapdc9JtLxHAlWOeTnvEHEY5KuS/y/\
    EanfQAUcVQFIx0PApisWjHddcVggr7EONkL09xqBqd2Wy0+eYGLja1mZb3csNwkF0yNPEPFBmdbT\
    OkHEE70H7f/xIBdMJNpXKn6odj/2PATcosh9Tr7subxP+Hu/kL+HkQZB+ntJBGp3QH7dNhFuLKQ7\
    U6Tj8QPan6sVRDxC/bT/p3ccblUKhn3AvvL9fATkwS44MDF25Y0gJ6Ga3EZgaodI9qVEsq8lmv1B\
    otueXPwJkY63v7ALwbMkbpT5+SJmRykgt8vFGCse5nygouB+BQG3KKgau7wbapYqekORLubfnss1\
    wLTv1BTPr3YdSkngorflQ8KnS6B0rHLY+rp4an/ukQpYJwDhIc7LCNime8cDpTmnOPT4fMFsqSWB\
    qB3vybISYGeiqVIVmnRQOd5vvXUBdFevGYD4TG8VAbsqyOIpk3xkiwk44QRzCEoTgrnn83bcbAek\
    m4gqfBKT8lYcaSRP+UiT7nccxCdctc7l0fVQO5wN/F1MZvb+fl6s/8j6Wb72ht4vzOhMruEu5T11\
    F9K7CDmE3suNr6x4MLG4YC9kV+J7WS/kwrWESLzvytNyLl1xpkVhvzW0HFaNCHiHomA9zr6v0ks6\
    6DqX6/PWFXc1cOQLSfOvem2Sr3zxG56LjvSBoyBi6vLtIj3vVUetwY9pWhIBj2ua4H5JxD93xZ0f\
    TkzfutV1RY0quNDkw1ZRKhf/Sr6Px0dxbo6j1rvUQSyHIZ+IgKx8W5Tn44SzTkY3v7avFwrxuD5i\
    Kr5P4vKTwEgSYwciKtO6YgLuu+JWYouu4Uz+hG8YoKVTXLFz+428LtQ88Lk6FFzfxGRaV0xAqB/2\
    ezn1dM0+XUjvNQmAcHocaEsIlcjX+UIP3P1Twms3iO6BBERUzKdcEvkZuCvBTYtMAlK6W5efq7tx\
    +ZFzrnMYrYNpfUIC8hbclZCOT2Tz1KNRSOQLIZ2C5DFPXUT9BJ9zm7gNH7dZkYZJXHFyJYKIuSJp\
    YQ93I9MpSvGmyuQ2KDWA8B8r3dSphxUKyIcQ9Dk+fVghiHqMkA4J+LpuctuGdJNJV0MB9XTxhvKj\
    QcAgXJSQzuP52jzcVdQb4WoRUF9H3fk0mA9vI9ALWDAthj9/De16GgwGg8FgMBgMBoPBYDAYDAaD\
    wWAwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGB6O/wkwABo/tJ3L\
    4BDoAAAAAElFTkSuQmCC')
  g
    image(overflow='visible', width='82', height='84', xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFIAAABUCAYAAAARdWCGAAAACXBIWXMAAAsSAAALEgHS3X78AAAA\
    GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAp9JREFUeNrsmX9O20AQhW3HcUL4\
    UWhpC1V7hR6jEieu1GNwCxDQmqQJsWO7s9IbabIi6h+ttCP5fdIDEgfJfMzuzq6zjBBCCCGEEEII\
    IYQQQgghhBBCCCGEEEII+Vdyrzf24/Z7fuAeh/Dl29ebgSL/LvC1qMS9eBGaOxRYIBOkMPfZSzqk\
    13iQmTuSqAJLyVRS4Xtp7nMnaZEGrzsPMktHEicQN5McmVS43kPgBllLttFQT0bhZHopIDGIO5Vc\
    SD5IriWfJV+Q8Pq95FxyAumhGAqzOI1vaOOPn0QSg6R3SPj5GLJCNf6WPEkeJI+SX5IlKrNNufiU\
    iSXGIs8g8EryUXKJylORNapQ58stsjOL0CjnSJ0bwzy4gMhLiPyE4X2Gz2xRnTkWmlCdKzNX6j9m\
    GJtIW5GVqcgLzINXkciNEVpD6gzVXKSeplJXZDy0g5w3kPkWOYWoCpV4jOqd470JRe6v2JWReYKo\
    NJ0TtbfUZj3e+Yyy/bESbCNuU0b32JtdTeelh0xWkdGBRH7gYKI3O5mdacRDXkzLo2LH15CbXm8w\
    0joIayBqjZX5GanRN9Z4vcbnWg8iU86RQ1R5DaptBVlHkDvFtfDePZpxbcQ3uNalHuKpF5sBEnQP\
    vcTOZY5rKywqKjJIvMOu5hm/Y4f3aCtSh/QWQ7XGypzh9QLTTwvJPyHzyVSkikx6NumhInVYrzFk\
    M9N0z7EQtbi+xPs15k/dHiY/Rkt9aFGYZnuGClyYhnuKe9R99QYCdeVuvIj0UJF6zqh9oi46JebH\
    LFqQGiPQhcTkFRmdAukBRmm2fUW0KNm4eczgQmQk00p97aFXnzl88OVG5IEdz6GpwN2jWEIIIYQQ\
    QgghhBBCCCGEEEIIIYQQQggh5P/wR4ABABlRA1sSVs6yAAAAAElFTkSuQmCC', transform='matrix(1 0 0 1 32 10)')
  rect#_x3C_Slice_x3E__7_(x='8', y='32', fill='none', width='118', height='95')