.container.servicos
  .row
    .col-md-12
      h1 Serviços Especiais
      .boxMedia
        .media
          .media-left
            img.media-object.img-circle(src='img/servicos/prime50.jpg', data-holder-rendered='true', alt="Super Prime +50")
          .media-body
            h4.media-heading Super Prime +50
            |  O processo de envelhecimento do ser humano deve ser bem sucedido. Para isto tem que ser acompanhado de qualidade de vida, que vai desde o bem-estar social e psicológico a satisfação com a vida, que mantém-se elevada na velhice quando o individuo está empanhado em manter a saúde mental, física e envolvimento social. Por estas razões a Prime4 Academia disponibiliza de programas especiais para os maiores de 50.
        .media
          .media-left
            img.media-object.img-circle(src='img/servicos/ventilometria.jpg', data-holder-rendered='true', alt='Ventilometria')
          .media-body
            h4.media-heading Ventilometria
            |  Para aumentar a segurança e fidedignidade da prescrição de exercícios, a Prime 4 utiliza o ventilômetro que é um aparelho bocal comum a válvula bidrecional integrado a uma esteira que por meio de um sistema informatizado analisa, a expiração do aluno para traçar a estratégia de exercícios (melhor ritmo, intensidade, estimativa de tempo e outros).
        .media
          .media-left
            img.media-object.img-circle(src='img/servicos/personal.jpg', data-holder-rendered='true', alt='Personal Trainer')
          .media-body
            h4.media-heading Personal Trainer
            |  Entre as vantagens de ser um treinamento físico particular supervisionado e acompanhado diretamente por um professor de Educação Física, dá ao aluno um total acompanhamento de suas atividades, desde o alongamento, passando pelos exercícios com pesos, elásticos ou peso corporal. O diferencial da Prime4 está aí, oferecer todo este trabalho com ênfase nos resultados, porém com mais prazer.
        .media
          .media-left
            img.media-object.img-circle(src='img/servicos/nutricao.jpg', data-holder-rendered='true', alt='Nutrição')
          .media-body
            h4.media-heading Nutrição
            |  A boa nutrição depende de uma dieta regular e equilibrada. É preciso fornecer às células do corpo não só a quantidade, mas também a variedade adequada de nutrientes importantes para seu bom funcionamento. Para isso, a Prime4 conta com serviço de nutrição personalizado ao treinamento e necessidade de seus alunos.
