.topo
  nav.navbar
    .logo-central.visible-md.visible-lg
      include logo-central
    .container

      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.logo-type(href='#' title="Home")
          img(src="../img/logo-type.svg" alt="Logo prime 4")
      #navbar.collapse.navbar-collapse
        include links-menu
.container
  .row
    .col-md-10.col-sm-6.col-xs-8
      p.utils 
        span.glyphicon.glyphicon-time 
        | seg a sex 06:00 às 22:00 / sáb 08:00 às 15:00
    .col-md-2.col-sm-6.col-xs-4
          a.facebook(href="#" data-toggle="tooltip" data-placement="top" title="Facebook")
            include facebook
          a.twitter(href="#" data-toggle="tooltip" data-placement="top" title="Twitter")
            include twitter