svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='16px', height='16px', viewbox='0 0 33 32', enable-background='new 0 0 33 32', xml:space='preserve')
  defs
  path.twitter(fill='#2EA5D9', d='M16.476,10.171c0,0,0.252-11.508,11.508-5.438c0,0,3.288-2.781,3.414-1.77\
  c0.126,1.011-2.529,3.54-1.518,3.288c1.012-0.252,4.553-0.506,2.023,1.138c-2.529,1.644-3.287,1.012-2.782,2.782\
  c0.505,1.771,0.252,14.921-15.807,18.336c0,0-5.944,1.771-12.772-3.541c0,0,6.449,0.758,8.472-0.633\
  c2.023-1.391,0.886-1.392-1.771-2.656c-2.655-1.264-3.92-3.667-3.92-3.667s6.323,1.391,2.782-0.886s-4.299-5.564-4.299-5.564\
  s2.782,2.022,2.529,0.632C4.083,10.803,1.048,8.149,2.06,4.86c0,0,0.127-2.781,3.035,0.759C8.003,9.159,12.302,11.563,16.476,10.171\
  z')
  rect#_x3C_Slice_x3E__10_(fill='none', width='33', height='32')
